@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li, ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

header {
  width: 90%;
  height: 10vh;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 5vw;
  position: relative;
}
header ul {
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
header ul li {
  width: 33.3333333333%;
  height: 100%;
}
header ul li a {
  font: 14px/5vh "arial";
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
header ul li a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
header .logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo p {
  font: bold 30px/1 "Playfair Display";
  text-align: center;
}
header > a {
  position: fixed;
  top: 20%;
  right: 4vw;
  font: bold 20px/70px "arial";
  color: #000;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
  z-index: 10;
}

#slideHeader {
  width: 90%;
  height: 10vh;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  position: relative;
}
#slideHeader ul {
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
#slideHeader ul li a {
  font: 14px/1 "arial";
  color: white;
}
#slideHeader .logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slideHeader .logo p {
  font: bold 30px/1 "arial";
  text-align: center;
  color: #fff;
}
#slideHeader > a {
  position: fixed;
  top: 20%;
  right: 4vw;
  font: bold 20px/70px "arial";
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid white;
}

@media screen and (max-width: 277px) {
  header {
    width: 90vw;
    align-items: center;
    margin-left: 2vw;
  }
  header ul {
    width: 80%;
    align-items: center;
  }
  header ul li {
    width: 33.3333333333%;
    height: 100%;
  }
  header .logo p {
    font: bold 5vw/1 "Playfair Display";
  }
  header > a {
    top: 15%;
    right: 1vw;
    font: bold 0.5px/10vw "arial";
    color: #000;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #fff;
    border: none;
  }
  #slideHeader {
    width: 90%;
    height: 10vh;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    position: relative;
  }
  #slideHeader ul {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  #slideHeader ul li a {
    font: 14px/1 "arial";
    color: white;
  }
  #slideHeader .logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #slideHeader .logo p {
    font: bold 30px/1 "arial";
    text-align: center;
    color: #fff;
  }
  #slideHeader > a {
    position: fixed;
    top: 20%;
    right: 4vw;
    font: bold 20px/70px "arial";
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid white;
  }
}
.content {
  width: 70%;
  height: 60%;
  margin-left: 15vw;
  margin-top: 15vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}
.content .text {
  width: 45%;
  height: 80%;
  position: relative;
}
.content .text h1 {
  font: bold 3vw/1 "arial";
  color: #000;
  border-bottom: 1px solid black;
  position: absolute;
  top: 10%;
  left: 20%;
}
.content .text .subs {
  position: absolute;
  bottom: 3vw;
  left: 20%;
}
.content .text .subs .subTxt {
  margin-top: 1vw;
}
.content .text .subs .subTxt h2 {
  font: bold 2vw/1 "arial";
  color: #111;
  padding: 10px;
}
.content .text .subs .subTxt p {
  font: bold 1vw/1 "arial";
}
.content .clickObj {
  width: 40%;
}
.content .clickObj > div {
  width: 12vw;
  height: 12vw;
  background-color: #B7C4F9;
  float: left;
  border-radius: 50%;
  cursor: pointer;
}
.content .clickObj > div.cir1 {
  margin: 0 1vw 1vh 0;
}
.content .clickObj > div.cir2 {
  margin: 0 0 1vh 0;
}
.content .clickObj > div.cir3 {
  margin: 1vh 1vw 0 0;
}
.content .clickObj > div.cir4 {
  margin: 1vh 0 0 0;
}
.content .clickObj > div::before {
  width: 13vw;
  height: 13vw;
  background-color: white;
}
.content .clickObj::after, .content .clickObj::before {
  content: "";
  display: block;
  clear: both;
}

.clickObj_ect > aside {
  width: 100vw;
  height: 100vh;
  background-color: #c39ae3;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s;
  opacity: 0;
  overflow: auto;
}
.clickObj_ect > aside .close {
  position: absolute;
  top: 17px;
  right: 40px;
  display: flex;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #B7C4F9;
  font: 14px/40px "arial";
  color: #000;
  border: 2px solid black;
}
.clickObj_ect > aside.on {
  left: 0;
  opacity: 1;
  overflow: hidden;
}
.clickObj_ect .circle1 {
  width: 100%;
  height: 100%;
}
.clickObj_ect .circle1 .circle1_box {
  width: 70%;
  height: 60%;
  background-color: white;
  margin-left: 15vw;
  margin-top: 18vh;
  border-radius: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clickObj_ect .circle1 .circle1_box h2 {
  height: 10%;
  display: block;
  text-align: center;
  font: bold 50px/10% "arial";
  transform: rotate(-90deg);
}
.clickObj_ect .circle1 .circle1_box .inner {
  width: 90%;
  margin: 1vw;
}
.clickObj_ect .circle1 .circle1_box .inner article {
  width: 45%;
  height: 45%;
  float: left;
  margin: 10% 2%;
}
.clickObj_ect .circle1 .circle1_box .inner article h2 {
  width: 100%;
  height: 30%;
}
.clickObj_ect .circle1 .circle1_box .inner::after, .clickObj_ect .circle1 .circle1_box .inner::before {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 277px) {
  .clickObj_ect .circle1 .circle1_box {
    width: 100%;
    height: 100%;
    background-color: white;
    margin-left: 0;
    margin-top: 0;
    border-radius: 80px;
    padding: 20px;
    display: block;
  }
  .clickObj_ect .circle1 .circle1_box h2 {
    width: 15vw;
    height: 10%;
    display: block;
    text-align: center;
    font: bold 10vw/10% "arial";
    transform: rotate(0deg);
    padding: 20px;
  }
  .clickObj_ect .circle1 .circle1_box .inner {
    width: 90%;
    margin: 1vw;
  }
  .clickObj_ect .circle1 .circle1_box .inner article {
    width: 100%;
    height: 45%;
    margin: 10% 2%;
    display: block;
    float: none;
  }
  .clickObj_ect .circle1 .circle1_box .inner article h2 {
    width: 100%;
    height: 30%;
  }
  .clickObj_ect .circle1 .circle1_box .inner::after, .clickObj_ect .circle1 .circle1_box .inner::before {
    content: "";
    display: block;
    clear: both;
  }
}
.clickObj_ect .circle2 {
  left: 100%;
}
.clickObj_ect .circle2 #cir2Main #cir2Wrap {
  width: 100%;
  padding: 50px;
}
.clickObj_ect .circle2 #cir2Main #cir2Wrap .loading {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 1;
}
.clickObj_ect .circle2 #cir2Main #cir2Wrap .loading.off {
  opacity: 0;
  z-index: -1;
}
.clickObj_ect .circle2 #cir2Main #cir2Wrap #list {
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
}
.clickObj_ect .circle2 #cir2Main #cir2Wrap #list.on {
  opacity: 1;
  transform: translateY(0px);
}
.clickObj_ect .circle2 #cir2Main #cir2Wrap #list::after {
  content: "";
  display: block;
  clear: both;
}
.clickObj_ect .circle2 #cir2Main #cir2Wrap #list li {
  width: 16.6666666667%;
  float: left;
  padding: 10px;
}
.clickObj_ect .circle2 #cir2Main #cir2Wrap #list li div {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.clickObj_ect .circle2 #cir2Main #cir2Wrap #list li div a img {
  width: 100%;
}
.clickObj_ect .circle2 #cir2Main #cir2Wrap #list li div p {
  font: 12px/1.2 "arial";
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}
.clickObj_ect .circle2 #cir2Main #cir2Main aside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clickObj_ect .circle3 {
  background-color: #fff;
}
.clickObj_ect .circle3 .cir3Pics {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  position: absolute;
}
.clickObj_ect .circle3 .cir3Pics > div {
  width: 25%;
  height: 70%;
  overflow: hidden;
}
.clickObj_ect .circle3 .cir3Pics > div > div {
  width: 100%;
  height: 100%;
  transition: 1s;
}
.clickObj_ect .circle3 .cir3Pics > div > div:hover {
  transform: scale(2);
}
.clickObj_ect .circle3 .cir3Pics > div .backCir3_1 {
  background: linear-gradient(90deg, #AAF6FA, #9AC4E3, #A79AE3);
}
.clickObj_ect .circle3 .cir3Pics > div .backCir3_2 {
  background-color: #9AC4E3;
}
.clickObj_ect .circle3 .cir3Pics > div .backCir3_3 {
  background-color: #A79AE3;
}
.clickObj_ect .circle3 .cir3Pics > div.on {
  background-color: rgba(51, 51, 51, 0.3);
}
.clickObj_ect .circle3 .cir3Pics::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 90%;
  height: 2px;
  background-color: black;
  margin-left: 5%;
}
.clickObj_ect .circle3 h2 {
  display: block;
  position: absolute;
  bottom: 20%;
  left: 0%;
  width: 100%;
  text-align: center;
}
.clickObj_ect .circle4 {
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #DCDBF9;
}
.clickObj_ect .circle4 .mSlide {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(183, 196, 249, 0.4);
  overflow: hidden;
  position: relative;
}
.clickObj_ect .circle4 .mSlide .slideS {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clickObj_ect .circle4 .mSlide .slideS ul {
  width: 100%;
  height: 1000%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.clickObj_ect .circle4 .mSlide .slideS ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 10%;
  border-radius: 30px;
  border: 1px solid #C39AE3;
  margin: 20px;
  transform: scale(0.6);
  transition: 1s;
  background-position: 7777777777777px;
  padding: 30px;
  opacity: 0;
}
.clickObj_ect .circle4 .mSlide .slideS ul li:nth-of-type(1) {
  transform: translateY(-200%) scale(0.7);
  opacity: 0.4;
  transition: 1s;
}
.clickObj_ect .circle4 .mSlide .slideS ul li:nth-of-type(2) {
  transform: translateY(-100%) scale(0.7);
  opacity: 0.6;
  transition: 1s;
}
.clickObj_ect .circle4 .mSlide .slideS ul li:nth-of-type(3) {
  transform: translateY(0) scale(1);
  opacity: 1;
  transition: 1s;
}
.clickObj_ect .circle4 .mSlide .slideS ul li:nth-of-type(4) {
  transform: translateY(100%) scale(0.7);
  opacity: 0.6;
  transition: 1s;
}
.clickObj_ect .circle4 .mSlide .slideS ul li:nth-of-type(5) {
  transform: translateY(200%) scale(0.7);
  opacity: 0.4;
  transition: 1s;
}
.clickObj_ect .circle4 .mSlide .slideS ul li:nth-of-type(6) {
  transform: translateY(300%) scale(0.7);
  opacity: 0;
  transition: 1s;
}
.clickObj_ect .circle4 .mSlide .slideS ul li:nth-of-type(7) {
  transform: scale(0.7) translateY(400%);
  opacity: 0;
  transition: 1s;
}
.clickObj_ect .circle4 .mSlide .slideS ul li:nth-of-type(8) {
  transform: scale(0.7) translateY(50%);
  opacity: 0;
}
.clickObj_ect .circle4 .mSlide .slideS ul li:nth-of-type(9) {
  transform: translateY(-400%) scale(0.7);
  opacity: 0;
}
.clickObj_ect .circle4 .mSlide .slideS ul li:nth-of-type(10) {
  transform: translateY(-300%) scale(0.7);
  opacity: 0;
  transition: 1s;
}
.clickObj_ect .circle4 .mSlide .slideS ul li h3 {
  margin-bottom: 10px;
  font: bold 20px/1 "arial";
  color: #000;
}
.clickObj_ect .circle4 .mSlide .slideS ul li p {
  font: 14px/1 "arial";
  color: #000;
}
.clickObj_ect .circle4 .mSlide .btns {
  position: absolute;
  bottom: 5%;
  left: 90%;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}
.clickObj_ect .circle4 .mSlide .btns .prev {
  cursor: pointer;
  width: 100px;
  height: 50px;
  text-align: center;
  font: 30px/50px "arial";
  color: black;
  border-radius: 10px;
  margin-bottom: 10px;
}
.clickObj_ect .circle4 .mSlide .btns .prev:hover {
  background-color: #C39AE3;
  color: #DCDBF9;
}
.clickObj_ect .circle4 .mSlide .btns .next {
  cursor: pointer;
  width: 100px;
  height: 50px;
  text-align: center;
  font: 30px/50px "arial";
  color: black;
  border-radius: 10px;
  margin-top: 10px;
}
.clickObj_ect .circle4 .mSlide .btns .next:hover {
  background-color: #C39AE3;
  color: #DCDBF9;
}

@media screen and (max-width: 277px) {
  .content {
    height: 80vh;
    margin-left: 12vw;
    margin-top: 5vh;
    display: block;
  }
  .content .text {
    width: 100%;
    height: 50%;
  }
  .content .text h1 {
    font: bold 6vw/1 "arial";
    left: 10%;
    top: 15%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .content .text .subs {
    width: 80%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  .content .text .subs .subTxt {
    position: relative;
    padding: 5px;
  }
  .content .text .subs .subTxt h2 {
    padding: 0;
    text-align: center;
  }
  .content .text .subs .subTxt p {
    font: bold 0.5vw/1 "arial";
    padding: 5px;
  }
  .content .clickObj {
    width: 100%;
    display: inline-block;
    height: 40%;
    padding-left: 15%;
    padding-top: 10%;
  }
  .content .clickObj > div {
    width: 40%;
    height: 25vw;
    flex-wrap: wrap;
  }
  .content .clickObj > div.cir1 {
    margin: 0 1vw 1vw 0;
  }
  .content .clickObj > div.cir2 {
    margin: 0 0 1vw 0;
  }
  .content .clickObj > div.cir3 {
    margin: 0 1vw 0 0;
  }
  .content .clickObj > div.cir4 {
    margin: 0 0 0 0;
  }
  .clickObj_ect > aside .close {
    width: 40px;
    border: 1px solid white;
    background-color: white;
  }
}
.wrap2 {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
}
.wrap2 section {
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
.wrap2 section > h2 {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  font: bold 30px/1 "arial";
}
.wrap2 section > h2::after {
  width: 100%;
  height: 1px;
  background-color: #000;
  content: "";
  display: block;
  margin-top: 50px;
  opacity: 0.4;
}
.wrap2 section .inner2 {
  width: 60%;
  height: 80%;
  margin: 0 auto;
}
.wrap2 section .inner2 .inner2_box1 {
  float: left;
  width: 30%;
  height: 100%;
  background-color: aqua;
  margin-right: 2%;
  border-radius: 10px;
}
.wrap2 section .inner2 .inner2_box2 {
  float: left;
  width: 68%;
  height: 48%;
  margin-bottom: 2%;
  background-color: lightcyan;
  border-radius: 10px;
}
.wrap2 section .inner2 .inner2_box3 {
  float: left;
  width: 33%;
  height: 48%;
  margin-right: 2%;
  background-color: lightskyblue;
  border-radius: 10px;
}
.wrap2 section .inner2 .inner2_box4 {
  float: left;
  width: 33%;
  height: 48%;
  background-color: deepskyblue;
  border-radius: 10px;
}
.wrap2 section .inner2 .inner2Box {
  overflow: hidden;
}
.wrap2 section p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}

.slide_fi {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide_fi .slide_wrap {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -200px;
}
.slide_fi .slide_wrap ul {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide_fi .slide_wrap ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 99999999999px;
  transition: 1s;
}
.slide_fi .slide_wrap ul li h2 {
  font: normal 24px/1 "Playfair Display";
  color: #ccc;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
  transition: 1.5s;
}
.slide_fi .slide_wrap ul li .inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: inherit;
  background-size: inherit;
  background-position: inherit;
  border-radius: 50%;
}
.slide_fi .slide_wrap ul li .inner::before, .slide_fi .slide_wrap ul li .inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-repeat: inherit;
  border-radius: 50%;
  transition: 1.5s;
}
.slide_fi .slide_wrap ul li .inner::before {
  top: 10%;
  left: 2%;
  filter: blur(20px);
  opacity: 0.7;
}
.slide_fi .slide_wrap ul li a {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s, bottom 1s, width 0.5s 1s;
}
.slide_fi .slide_wrap ul li a::before, .slide_fi .slide_wrap ul li a span {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font: 11px/1 "anton";
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: #fff;
  border-radius: 20px;
  background-image: inherit;
}
.slide_fi .slide_wrap ul li a span {
  opacity: 0;
  text-indent: -40px;
  transition: 0.5s 1.4s;
}
.slide_fi .slide_wrap ul li a::before {
  transform: translateY(30%);
  filter: blur(10px) saturate(2);
  opacity: 0.8;
}
.slide_fi .slide_wrap ul li:nth-of-type(1) {
  transform: translateX(-1200px) scale(0.5);
}
.slide_fi .slide_wrap ul li:nth-of-type(1) .inner::before, .slide_fi .slide_wrap ul li:nth-of-type(1) .inner::after {
  transform: rotate(-150deg);
}
.slide_fi .slide_wrap ul li:nth-of-type(2) {
  transform: translateX(-800px) scale(0.5);
}
.slide_fi .slide_wrap ul li:nth-of-type(2) .inner::before, .slide_fi .slide_wrap ul li:nth-of-type(2) .inner::after {
  transform: rotate(-100deg);
}
.slide_fi .slide_wrap ul li:nth-of-type(3) {
  transform: translateX(-400px) scale(0.5);
}
.slide_fi .slide_wrap ul li:nth-of-type(3) .inner::before, .slide_fi .slide_wrap ul li:nth-of-type(3) .inner::after {
  transform: rotate(-50deg);
}
.slide_fi .slide_wrap ul li:nth-of-type(4) {
  opacity: 1;
  transform: translateX(0px) scale(1);
}
.slide_fi .slide_wrap ul li:nth-of-type(4) h2 {
  font-size: 14vw;
  opacity: 0.8;
  color: #fff;
  top: -20vh;
  letter-spacing: 0px;
}
.slide_fi .slide_wrap ul li:nth-of-type(4) .inner::before, .slide_fi .slide_wrap ul li:nth-of-type(4) .inner::after {
  transform: rotate(0deg);
}
.slide_fi .slide_wrap ul li:nth-of-type(4) a {
  opacity: 1;
  bottom: -18%;
  width: 200px;
}
.slide_fi .slide_wrap ul li:nth-of-type(4) a.off {
  opacity: 0;
  display: none;
}
.slide_fi .slide_wrap ul li:nth-of-type(4) a span {
  opacity: 1;
  text-indent: 0px;
}
.slide_fi .slide_wrap ul li:nth-of-type(5) {
  transform: translateX(400px) scale(0.5);
}
.slide_fi .slide_wrap ul li:nth-of-type(5) .inner::before, .slide_fi .slide_wrap ul li:nth-of-type(5) .inner::after {
  transform: rotate(50deg);
}
.slide_fi .slide_wrap ul li:nth-of-type(6) {
  transform: translateX(800px) scale(0.5);
}
.slide_fi .slide_wrap ul li:nth-of-type(6) .inner::before, .slide_fi .slide_wrap ul li:nth-of-type(6) .inner::after {
  transform: rotate(100deg);
}
.slide_fi .slide_wrap ul li:nth-of-type(7) {
  transform: translateX(1200px) scale(0.5);
}
.slide_fi .slide_wrap ul li:nth-of-type(7) .inner::before, .slide_fi .slide_wrap ul li:nth-of-type(7) .inner::after {
  transform: rotate(150deg);
}
.slide_fi .btns {
  position: absolute;
  bottom: 13vh;
  right: 10vw;
  display: flex;
  gap: 50px;
  transition: 0.5s;
}
.slide_fi .btns div {
  cursor: pointer;
  width: 120px;
  height: 36px;
  border-radius: 18px;
  background-color: #999;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 12px/1 "anton";
  color: #fff;
  letter-spacing: 4px;
}
.slide_fi .btns div:hover {
  background-color: #555;
}
.slide_fi .btns.off {
  right: 5vw;
  opacity: 0;
  z-index: -3;
}
.slide_fi .pop {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50%;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  padding: 22vh 5vw 10vh 6vw;
  transition: 0.5s;
}
.slide_fi .pop h2 {
  font: 12vw/1 "Playfair Display";
  color: #fff;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateX(-100px);
  transition: 1s 0.3s;
}
.slide_fi .pop p {
  font: 22px/1 "arial";
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateX(-100px);
  transition: 0.5s 0.8s;
}
.slide_fi .pop .close {
  width: 200px;
  height: 40px;
  border: 2px solid #fff;
  font: bold 14px/1 "arial";
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide_fi .pop .close:hover {
  background-color: #fff;
  color: #777;
}
.slide_fi .pop.on {
  left: 0;
}
.slide_fi .pop.on h2, .slide_fi .pop.on p, .slide_fi .pop.on .close {
  opacity: 1;
  transform: translateX(0px);
}

@media screen and (max-width: 1199px) {
  figure .slide.wrap ul li:nth-of-type(4) {
    transform: translateX(0px) scale(0.7);
  }
  figure .slide.wrap ul li:nth-of-type(4) h2 {
    top: -22vh;
    font-size: 37vw;
  }
  figure .slide.wrap ul li:nth-of-type(4) a {
    width: 100%;
    bottom: -25%;
  }
  figure .btns {
    width: 100%;
    bottom: 6vh;
    right: 0;
    justify-content: space-evenly;
  }
}
#sub2 {
  width: 100%;
}
#sub2 .arti1 {
  text-align: center;
  height: 80vh;
}
#sub2 .arti1 h1 {
  font: bold 3vw/60vh "arial";
  color: #fff;
}

.wrap {
  width: 100vw;
  height: 100vh;
  background-color: #BBACF2;
  position: relative;
  overflow: hidden;
}

#galleryBody {
  position: relative;
}
#galleryBody::before {
  position: absolute;
  content: "";
  display: block;
  opacity: 0.5;
  background-image: url(../img/7345549.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#SlideBody {
  position: relative;
}
#SlideBody::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/AdobeStock_182973327.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
