.content{
    width: 70%;
    height: 60%;
    margin-left: 15vw;
    margin-top: 15vh;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px;

    .text{
        width: 45%;
        height: 80%;
        position: relative;
        h1{
            font: bold 3vw/1 "arial";
            color: #000;
            border-bottom: 1px solid black;
            position: absolute;
            top: 10%;
            left: 20%;
        }
        .subs{
            position: absolute;
            bottom: 3vw;
            left: 20%;

            .subTxt{
                margin-top: 1vw;
                h2{
                    font: bold 2vw/1 "arial";
                    color: #111;
                    padding: 10px;
                }
                p{
                    font: bold 1vw/1 "arial";
                }
            }
        }
    }
    .clickObj{
        width: 40%;

        >div{
            width: 12vw;
            height: 12vw;
            background-color: #B7C4F9;
            float: left;
            border-radius: 50%;
            cursor: pointer;
            
            &.cir1{
                margin: 0 1vw 1vh 0;
            }
            &.cir2{
                margin: 0 0 1vh 0;
            }
            &.cir3{
                margin: 1vh 1vw 0 0;
            }
            &.cir4{
                margin: 1vh 0 0 0;
            }
            &::before{
                width: 13vw;
                height: 13vw;
                background-color: white;
            }
        }
        &::after,&::before{
            content: "";
            display: block;
            clear: both;
        }
    }
    
    
}
.clickObj_ect{
    >aside{
        width: 100vw;
        height: 100vh;
        background-color: rgba(#C39AE3, 1.0);
        position: absolute;
        top: 0;
        left: -100%;
        transition: 1s;
        opacity: 0;
        overflow: auto;

        .close{
            position: absolute;
            top: 17px;
            right: 40px;
            display: flex;
            width: 200px;
            height: 40px;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background-color: #B7C4F9;
            font: 14px/40px "arial";
            color: #000;
            border: 2px solid black;
        }
        &.on{
            left: 0;
            opacity: 1;
            overflow: hidden;
        }
    }
    .circle1{
        width: 100%;
        height: 100%;
        @import "./circle1";
    }
    .circle2{
        left: 100%;
        @import "./circle2";
    }
    .circle3{
        background-color: #fff;
        @import "./circle3";
    }
    .circle4{
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: #DCDBF9;
        @import "./circle4";    
    }
}

@media screen and (max-width : 277px) {
    .content{
        height: 80vh;
        margin-left: 12vw;
        margin-top:5vh;
    
        display: block;
        .text{
            width: 100%;
            height: 50%;

            h1{
                font: bold 6vw/1 "arial";
                left: 10%;
                top: 15%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            }
            .subs{
                width: 80%;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);
    
                .subTxt{
                    position: relative;
                    padding: 5px;
                    h2{
                        padding: 0;
                        text-align: center;
                    }
                    p{
                        font: bold 0.5vw/1 "arial";
                        padding: 5px;
                    }
                }
            }
        }
        .clickObj{
            width: 100%;
            display: inline-block;
            height: 40%;
            padding-left: 15%;
            padding-top: 10%;
            >div{
                width: 40%;
                height: 25vw;
                flex-wrap: wrap;
                
                &.cir1{
                    margin: 0 1vw 1vw 0;
                }
                &.cir2{
                    margin: 0 0 1vw 0;
                }
                &.cir3{
                    margin: 0 1vw 0 0;
                }
                &.cir4{
                    margin: 0 0 0 0;
                }
            }
        }
        
        
    }
    .clickObj_ect{
        >aside{
            .close{
                width: 40px;
                border: 1px solid white;
                background-color: white;
            }
        }
    }
}