.wrap2{
    width: 100%;
    height: 100vh;
    background-color: #EDDDFF;

    section{
        width: 100%;
        height: 100%;
        padding: 50px 0;

        >h2{
            width: 100%;
            margin: 0 auto;
            margin-bottom: 50px;
            text-align: center;
            font: bold 30px/1 "Playfair Display";

            &::after{
                width: 100%;
                height: 1px;
                background-color: #000;
                content: "";
                display: block;
                margin-top: 50px;
                opacity: 0.4;
            }
        }
        .inner2{
            width: 60%;
            height: 75%;
            margin: 0 auto;

            &::after,&::before{
                content: "";
                display: block;
                clear: both;
            }
            
            .inner2_box1{
                float: left;
                width: 30%;
                height: 100%;
                background-color: #B7C4F9;
                margin-right: 2%; 
                border-radius: 10px;
            }
            .inner2_box2{
                float: left; 
                width: 68%;   
                height: 49%;
                margin-bottom: 2%;
                background-image: url(../../img/4243194_90704.jpg);
                background-size: cover;
                border-radius: 10px;  
            }
            .inner2_box3{
                float: left;
                width: 33%;
                height: 48%;  
                margin-right: 2%;  
                background-image: url(../../img/13399015_5236172.jpg);
                background-size: cover;
                border-radius: 10px;           
            }
            .inner2_box4{
                float: left;
                width: 33%;
                height: 48%; 
                background-image: url(../../img/13398998_5225305.jpg);
                background-size: cover; 
                border-radius: 10px; 
            }
            
            .inner2Box{
                overflow: hidden;
            }
        }
        p{
            text-align: center;
            margin-top: 20px; 
            margin-bottom: 20px;
            padding: 30px;       
        }
    }
}

@media screen and (max-width : 277px) {
    .wrap2{
        section{
            padding: 10px 0;
    
            >h2{
                margin-bottom: 10px;
                font: bold 5vw/1 "Playfair Display";
    
                &::after{
                    margin-top: 10px;
                }
            }
            .inner2{
                width: 80%;

                .inner2_box1{
                    width: 100%;
                    height: 30%;
                    margin-right: 0%;
                    margin-bottom: 2%;
                }
                .inner2_box2{
                    width: 100%;   
                    height: 30%;
                    margin-bottom: 2%;
                }
                .inner2_box3{
                    width: 49%;
                    height: 28%;  
                    margin-right: 2%;         
                }
                .inner2_box4{
                    width: 49%;
                    height: 28%; 
                } 
            }
            p{
                margin-top: 5px;
                padding: 0; 
                margin-bottom: 30px;      
            }
        }
    }
}